{% raw %}
{% import "macros.html" as mc %}
{% endraw %}
    {{ "{%" }} set content, error = from_endpoint(conf.default_endpoint).with_query_from_file(conf.query_files["{{ query_file }}"]).fetch_tabular() {{ "%}" }}
    {% raw %}
{% if not content.empty %}
    {% call mc.render_fetch_results(content, error) %}
    {% endraw %}
<h3 class="ui header">{{ operation|title }} {{ property_name }}s</h3>
<section class="ui basic segment">
    <p>The table below lists the {{ operation }} <strong>{{ property }}</strong>
    </p>
    <p><strong>Query identifier:</strong> {{ query_file }}</p>
    {{ "{{" }} mc.pandas_table(content, "{{ operation|title }} {{ property_name }}") {{ "}}" }}
</section>
    {% raw %}
    {% endcall %}
{% endif %}
    {% endraw %}
