<h4>{{ count_prop_section.label }}</h4>

<table class="display">
    <thead class="center aligned">
    <tr>
        <th>Added</th>
        <th>Deleted</th>
        <th>Updated</th>
        <th>Moved</th>
        <th>Changed</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        {% for query_file in  count_prop_section.files %}
            {{ "{%" }} set content, error = from_endpoint(conf.default_endpoint).with_query_from_file(conf.query_files["{{ query_file }}"]).fetch_tabular() {{ "%}" }}
            {% raw %}
            {% call mc.render_fetch_results(content, error) %}

            {{ mc.count_value(content) }}
            {% endcall %}
            {% endraw %}
        {% endfor %}
    </tr>
    </tbody>
</table>